header {
    width: 100%;
    height: 150px;
}

header h1 {
    display: block;
    margin: 0 auto;
    text-align: center;
    color: green;
    line-height: 150px;
    font-size: 6rem;
    font-family: "Ubuntu Mono",Menlo,Monaco,Consolas,"Courier New",monospace;
}
