.json-viewer{
    border-style: solid;
    border-width: 1px;
    width:20%;
    margin-top:100px;
    margin-left:30%;
    display: inline-block;
}

.json-viewer p{
    text-indent:2px;
    font-family: "Times New Roman", Times, serif;
    overflow: auto;
    width:100%;
    height:100%;
    background: #fffff0;
}
